<head>
    <script type="text/javascript" src="../assets/plugins/jquery-1.12.3.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="graf.js"></script>
    <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="graf.css">
</head>

<body>
    <header id="header" class="header">
        <div class="container">
            <h1 class="logo">
                <span class="logo-icon-wrapper"><img class="logo-icon" src="../assets/images/vgtu-logo.png"
                        alt="icon"></span>
                <span class="text"><span class="highlight">Destruction Content</span> Analyzer</span>
            </h1>
            <!--//logo-->
            <nav class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--//nav-toggle-->
                </div>
                <!--//navbar-header-->


                <a class="btn btn-primary btn-cta" href="../index.html" target="_self">Назад на информационную
                    страницу</a>

            </nav>
            <!--//main-nav-->

        </div>
        <!--//container-->
    </header>
    <!--//header-->



    <div id="inputDiv" class="inputDiv">
        <form id="form" class="centre">
            <div class="form-group">
                <label for="groupInput">Ссылка на сайт</label>
                <input type="text" class="form-control" id="groupInput" aria-describedby="groupHelp"
                    placeholder="https://www.kuban.kp.ru/">
                <small id="groupHelp" class="form-text text-muted">Список интернет-ресурсов, введите полный адрес
                    ресурса с протоколом доступа</small>
            </div>
            <button type="button" class="btn btn-primary" onclick="addGroup()">Добавить</button>
        </form>
        <table id="table" class="table centre">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Список групп для мониторинга</th>
                    <th scope="col" style="width: 100px;"></th>
                </tr>
            </thead>
        </table>
        <button type="button" class="btn btn-primary centre" onclick="start()">Начать мониторинг</button>
    </div>
    <div id="statistic" style="display: none;">
        <div id="tableWithContent">
            <table id="tableContent" class="table centre">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">URL</th>
                        <th scope="col">Время нахождения</th>
                        <th scope="col">Категория</th>
                    </tr>
                </thead>
                <tbody id="tableBody">

                </tbody>
            </table>
        </div>
        <div id="categoriesHighCharts"></div>
        <div id="TimeFound"></div>
        <button type="button" class="btn btn-primary" onclick="stop()">Остановить мониторинг</button>
    </div>

</body>